<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-vertical">
      hey what's up man. <%= link_to "hey", '#' %> hey what a dumb day
    </div>
  </div>
</div>

<% if instructor_signed_in? %>
  <%= current_instructor.username %>
<% end %>

<% if student_signed_in? %>
  <%= current_student.username %>
<% end %>