<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-vertical">
      hey what's up man. <%= link_to "hey", '#' %> hey what a dumb day
    </div>
  </div>
</div>

<% if instructor_signed_in? %>
  <%= link_to current_instructor.username, instructor_path(current_instructor) %>
<% end %>

<% if student_signed_in? %>
  <%= link_to current_student.username, student_path(current_student) %>
<% end %>