<div class="wrapper">
  <div style="background: url(https://i.imgur.com/4wlGmDk.jpg) no-repeat fixed; background-size: 100%;" class="home-image">
    <div class="home-text">
      <span class="bold">NINTH</span>VALLEY
    </div>
    <div class="home-tagline">
      tagline
    </div>
  </div>
</div>