<%= provide(:title, "Terms of Use") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">


      <div class="padding-bottom center mid-text border-bottom">
        Terms of use for Ninth Valley
      </div>

      <p>By accessing the website at https://www.ninthvalley.com, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>

      <div class="padding-vertical mid-text border-bottom">
        1. Use License
      </div>

      <p>Permission is granted to temporarily download one copy of the materials (information or software) on Ninth Valley's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not: modify or copy the materials; use the materials for any commercial purpose, or for any public display (commercial or non-commercial); attempt to decompile or reverse engineer any software contained on Ninth Valley's website; remove any copyright or other proprietary notations from the materials; or transfer the materials to another person or "mirror" the materials on any other server.</p>

      <p>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Ninth Valley at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>

      <div class="padding-vertical mid-text border-bottom">
        2. Disclaimer
      </div>

      <p>The materials on Ninth Valley's website are provided on an 'as is' basis. Ninth Valley makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</p>

      <p>Further, Ninth Valley does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</p>

      <div class="padding-vertical mid-text border-bottom">
        3. Limitations
      </div>

      <p>In no event shall Ninth Valley or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Ninth Valley's website, even if Ninth Valley or a Ninth Valley authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

      <div class="padding-vertical mid-text border-bottom">
        4. Accuracy of materials
      </div>

      <p>The materials appearing on Ninth Valley's website could include technical, typographical, or photographic errors. Ninth Valley does not warrant that any of the materials on its website are accurate, complete or current. Ninth Valley may make changes to the materials contained on its website at any time without notice. However Ninth Valley does not make any commitment to update the materials.</p>

      <div class="padding-vertical mid-text border-bottom">
        5. Links
      </div>

      <p>Ninth Valley has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Ninth Valley of the site. Use of any such linked website is at the user's own risk.

      <div class="padding-vertical mid-text border-bottom">
        6. Modifications
      </div>

      <p>Ninth Valley may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>

      <div class="padding-vertical mid-text border-bottom">
        7. Governing Law
      </div>

      <p>These terms and conditions are governed by and construed in accordance with the laws of New York and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>

    </div>
  </div>
</div>