<%= provide(:title, "Updates") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">

      <div class="padding-bottom center mid-text border-bottom">
        Updates
      </div>

      <div>
        <p>I decided to toss everything that's updated on the site into one page so you're not completely blindsided by the changes... *cough* Facebook... *cough*</p>
      </div>

      <div class="padding-vertical mid-text border-bottom">
        06.17.18
      </div>

      <div>
        <p>Happy Father's Day!</p>

        <p>Ninth Valley has launched!</p>
      </div>

    </div>
  </div>
</div>
