<% if current_student.bookmarked?(@course) %>
  <div class="padding-bottom link-color">
    <%= link_to "Delete bookmark", instructor_course_bookmark_path(@instructor, @course, current_student.bookmark_id(@course)), method: :delete, remote: true, class: "delete-button" %>
  </div>
<% else %>
  <div class="padding-bottom link-color">
    <%= link_to "Bookmark", instructor_course_bookmarks_path(@instructor, @course), :method => :post, remote: true, class: "fake-button" %>
  </div>
<% end %>