<% if @instructor.profile.first_name.present? && @instructor.profile.last_name.present? %>
  <%= provide(:title, sanitize(@instructor.profile.first_name) + " " + sanitize(@instructor.profile.last_name)) %>
<% else %>
  <%= provide(:title, sanitize(@instructor.username)) %>
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-vertical">
      <%= @instructor.username %>
    </div>
  </div>
</div>

<%= @instructor.profile.created_at %>