/*
 *= require_tree .
 *= require_self
 */

$main: #47B975; /* OCEAN GREEN */
$light: #A4C2A7; /* SPRING RAIN */
$dark: #C8A223; /* HOKEY POKEY */
$green: #47B975; /* OCEAN GREEN */
$border: #BEC8CE; /* LOBLOLLY */
$red: #F44336; /* POMEGRANATE */
$black: #0C1F14; /* GREEN KELP */
$white: #FAFAFA; /* DESERT STORM */
$grey: #EEEEEE; /* GALLERY */
$fancy: "Helvetica Neue", Helvetica, Arial, sans-serif;

$radius: 4px;
$shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$shadow-lite: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

@mixin textLabels {
  font-size: .75em;
  font-weight: 400;
  text-transform: uppercase;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.75em;
  letter-spacing: .5px;
  font-family: $fancy;
  font-weight: 300;
  background: $white;
  color: $black;
}

a {
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $dark;
  }
}

::selection {
  color: $white;
  background: $main;
}

::-moz-selection {
  color: $white;
  background: $main;
}

.mobile-only {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.mid-container {
  width: 73%;
  margin: 0 auto;
}

.form-container {
  width: 40%;
  margin: 0 auto;
  a {
    color: $light;
    &:hover {
      color: $dark;
    }
  }
}

/* *************** FLASH ***************** */

.flash {
  position: fixed;
  margin: 0 auto;
  z-index: 1006;
  width: 60%;
  top: 0;
  left: 20%;
}

.alert-notice {
  border-bottom: 10px solid $green;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert-alert {
  border-bottom: 10px solid $red;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert {
  width: 90%;
  margin: 0 auto;
  padding: 1vh 0;
  font-family: $fancy;
}

/* ***************** UNIVERSAL ************* */

.bold {
  font-weight: 400;
}

.blur {
  -webkit-filter: blur(4px);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.border-top {
  border-top: 1px solid $border;
}

.border-bottom {
  border-bottom: 1px solid $border;
}

/* *************** SIZES AND SPACE ************** */

.mini-text {
  font-size: .75em;
}

.mid-text {
  font-size: 1.5em;
}

.hard-text {
  font-size: 16px;
}

.two-column {
  margin: 0 auto;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.padding-vertical {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.padding-top {
  padding-top: 2vh;
}

.padding-bottom {
  padding-bottom: 2vh;
}

.padding-horizontal {
  padding-right: 2vh;
  padding-left: 2vh;
}

.padding-right {
  padding-right: 2vh;
}

.padding-left {
  padding-left: 2vh;
}

/* ****************** TABS AND BUTTONS **************** */

.active-tab {
  @include transition;
  background: $main;
  color: $white;
  padding: 2vh 0;
  border-radius: $radius;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 400;
  box-shadow: $shadow;
}

.deactive-tab {
  @include transition;
  background: transparent;
  color: $black;
  padding: 2vh 0;
  border-radius: $radius;
  text-transform: uppercase;
  font-size: .75em;
  &:hover {
    background: $grey;
  }
}

@mixin buttons {
  @include transition;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  border-radius: $radius;
  box-sizing: border-box;
  color: $white;
  padding: 1vh 1vw;
  background: $main;
  border: 1px solid $main;
  color: $white;
  &:hover {
    box-shadow: $shadow;
  }
}

.submit-button {
  @include buttons;
}

/* ****************** FORMS ****************** */

textarea:focus, input:focus {
  outline: none;
}

label {
  @include textLabels;
  -webkit-font-smoothing: antialiased;
}

@mixin fields {
  width: 100%;
  font-size: 1em;
  font-weight: 100;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  border-radius: $radius;
}

.search-field {
  @include fields;
  padding: .5vh 1vw;
  font-size: .75em;
  border: none;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1);
  &::placeholder {
    color: $white;
  }
}

.text-field {
  @include fields;
  padding: 1vh 1vw;
  background: $grey;
}

.text-area {
  @include fields;
  min-width: 100%;
  max-width: 100%;
  height: 30vh;
  padding: 1vh 1vw;
  background: $grey;
}

.field {
  margin: 0 0 2vh 0;
}

/* ***************** NAV ************* */

.side-header {
  position: fixed;
  text-align: center;
  z-index: 1003;
  width: auto;
  height: 100%;
  color: $black;
  a {
    color: $black;
    &:hover {
      color: $main;
    }
  }
  ul {
    padding: 0vh 2vw;
    li {
      padding: 3vh 0;
      list-style: none;
    }
  }
}

.header-container {
  width: 100%;
  margin: 0 auto;
  background: $main;
  box-shadow: $shadow-lite;
  a {
    color: $white;
  }
}

.nav {
  display: flex;
  .site-title {
    display: inline-block;
    width: 24%;
    color: $main;
    font-weight: 300;
    &:hover {
      text-decoration: none;
      color: $light;
    }
  }
  .search-spacer {
    width: 24%;
    display: inline-block;
  }
  ul {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    li {
      width: 24%;
      display: inline-block;
      position: relative;
    }
  }
}

.nav-links {
  @include transition;
  color: $black;
  cursor: pointer;
  padding: 1vh 2vw;
  &:hover {
    color: $main;
  }
}

.full-footer-container {
  width: 100%;
  clear: both;
  margin-top: 5vh;
  padding: 2vh 0;
}

.footer {
  font-size: .75em;
  width: 100%;
  display: inline-block;
  span {
    float: left;
  }
  .nav-links {
    @include transition;
    color: $light;
    padding: 0;
    &:hover {
      @include transition;
      color: $dark;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin: 0 1vw;
      &:first-child {
        margin: 0 1vw 0 0;
      }
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
  color: $light;
}

/* ******************** USERS **************** */



/* ******************* JAVASCRIPT ************** */

@mixin javaScriptForms {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 10% 0 0;
  z-index: 1005;
  display: none;
  .profile-form-inside {
    width: 40%;
    background: $white;
    margin: 2vh auto;
    padding: 2vh 2vw;
    border-radius: $radius;
    box-shadow: $shadow-lite;
  }
  a {
    color: $light;
    &:hover {
      color: $dark;
    }
  }
}

#sign-in-form {
  @include javaScriptForms;
}

#register-form {
  @include javaScriptForms;
}

.close {
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: $black;
  text-decoration: none;
  position: relative;
  z-index: 1001;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:before {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    z-index: 1001;
    background: $light;
    position: absolute;
    left: 11px;
    top: 0px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition: .3s;
   -moz-transition: .3s;
   -o-transition: .3s;
  }
  &:after {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    z-index: 1001;
    background: $light;
    position: absolute;
    left: 11px;
    top: 0px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
  &:hover {
    &:before {
      background: $dark;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
    &:after {
      background: $dark;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
  }
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.80;
  opacity: 0.80;
  z-index: 1002;
  display: none;
}

svg.search {
  @include transition;
  fill: $white;
  width: 12px;
  height: 12px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#search-icon {
  @include transition;
  cursor: pointer;
  padding: 3vh 1vw;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#sign-in {
  @include textLabels;
  @include transition;
  cursor: pointer;
  color: $white;
  padding: 3vh 1vw;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#register {
  @include textLabels;
  @include transition;
  cursor: pointer;
  color: $white;
  padding: 3vh 1vw;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#menu-click {
  @include textLabels;
  @include transition;
  cursor: pointer;
  color: $white;
  padding: 3vh 1vw;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#close-menu {
  @include transition;
  cursor: pointer;
  color: $black;
  &:hover {
    color: $main;
  }
}

#menu-container {
  display: none;
  width: 100%;
  top: 0;
}

#student-sign-in-click {
  cursor: pointer;
}

#instructor-sign-in-click {
  cursor: pointer;
}

#instructor-sign-in-container {
  display: none;
}

#student-register-click {
  cursor: pointer;
}

#instructor-register-click {
  cursor: pointer;
}

#instructor-register-container {
  display: none;
}

#why-instructor {
  display: none;
}

#student-sign-in-click-page {
  cursor: pointer;
}

#instructor-sign-in-click-page {
  cursor: pointer;
}

#instructor-sign-in-container-page {
  display: none;
}

#student-register-click-page {
  cursor: pointer;
}

#instructor-register-click-page {
  cursor: pointer;
}

#instructor-register-container-page {
  display: none;
}

#why-instructor-page {
  display: none;
}

#search-container {
  display: none;
}

#edit-profile-click {
  @include buttons;

}

#profile-form {
  @include javaScriptForms;
}

/* ******************** MeDIA QUERIES **************** */

@media screen and (max-width: 1024px) {

  @mixin mobile-nav {
    float: none;
    text-align: center;
  }

  .nav {
    display: block;
    .site-title {
      display: block;
      width: 100%;
      text-align: center;
      padding-bottom: 1vh;
    }
    .search-spacer {
      width: 100%;
      display: block;
      padding-bottom: 1vh;
    }
    ul {
      width: 100%;
      display: block;
      li {
        width: 31%;
        &:first-child {
          display: none;
        }
      }
    }
  }

  .footer {
    text-align: center;
    span {
      @include mobile-nav;
    }
    ul {
      @include mobile-nav;
    }
  }

  .mid-container {
    width: 83%;
    margin: 0 auto;
  }

  .form-container {
    width: 60%;
    margin: 0 auto;
  }

  @mixin javaScriptForms {
    .profile-form-inside {
      padding: 2vh 2vw;
      width: 60%;
    }
  }

  #sign-in-form {
    @include javaScriptForms;
  }

  #register-form {
    @include javaScriptForms;
  }

  #search-icon {
    padding: 1vh 1vw;
  }

  #search-container {
    display: block;
  }

  #sign-in {
    padding: 1vh 1vw;
  }

  #register {
    padding: 1vh 1vw;
  }

  #menu-click {
    padding: 1vh 1vw;
  }

  .no-mobile {
    display: none;
  }

  .mobile-only {
    display: block;
  }

}

@media screen and (max-width: 650px) {

  .two-column {
    width: 100%;
  }

  .mid-container {
    width: 100%;
    margin: 0 auto;
  }

  .form-container {
    width: 90%;
    margin: 0 auto;
  }

  @mixin javaScriptForms {
    .profile-form-inside {
      width: 90%;
      padding: 2vh 2vw;
    }
  }

  #student-sign-in-click {
    margin-bottom: 2vh;
  }

  #student-register-click {
    margin-bottom: 2vh;
  }

  #student-sign-in-click-page {
    margin-bottom: 2vh;
  }

  #student-register-click-page {
    margin-bottom: 2vh;
  }

  #sign-in-form {
    @include javaScriptForms;
  }

  #register-form {
    @include javaScriptForms;
  }

}



