/*
 *= require_tree .
 *= require_self
 */

$main: #47B975; /* OCEAN GREEN */
$light: #A4C2A7; /* SPRING RAIN */
$dark: #C8A223; /* HOKEY POKEY */
$green: #47B975; /* OCEAN GREEN */
$border: #BEC8CE; /* LOBLOLLY */
$red: #F44336; /* POMEGRANATE */
$yellow: #ff9800;
$black: #0C1F14; /* GREEN KELP */
$white: #FAFAFA; /* DESERT STORM */
$grey: #EEEEEE; /* GALLERY */
$fancy: "Helvetica Neue", Helvetica, Arial, sans-serif;

$radius: 4px;
$shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$shadow-lite: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

@mixin textLabels {
  font-size: .75em;
  font-weight: 400;
  text-transform: uppercase;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.75em;
  letter-spacing: .5px;
  font-family: $fancy;
  font-weight: 300;
  background: $white;
  color: $black;
}

a {
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $dark;
  }
}

::selection {
  color: $white;
  background: $main;
}

::-moz-selection {
  color: $white;
  background: $main;
}

img {
  border-radius: $radius;
  display: block;
}

video {
  display: block;
}

/* *************** FLASH ***************** */

.flash {
  position: fixed;
  margin: 0 auto;
  z-index: 1006;
  width: 60%;
  top: 0;
  left: 20%;
}

.alert-notice {
  border-bottom: 10px solid $green;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert-alert {
  border-bottom: 10px solid $red;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert {
  width: 90%;
  margin: 0 auto;
  padding: 1vh 0;
  font-family: $fancy;
}

/* ***************** UNIVERSAL ************* */

.link-color {
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.hidden {
  display: none;
}

.bold {
  font-weight: 400;
}

.blur {
  -webkit-filter: blur(4px);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.shadow {
  box-shadow: $shadow-lite;
}

.border {
  border: 1px solid $border;
  border-radius: $radius;
}

.border-top {
  border-top: 1px solid $border;
}

.border-bottom {
  border-bottom: 1px solid $border;
}

.border-left {
  border-left: 1px solid $border;
}

.mobile-only {
  display: none;
}

/* *************** SIZES AND SPACE ************** */

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.mid-container {
  width: 73%;
  margin: 0 auto;
}

.body-container {
  width: 85%;
  margin: 0 auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.video-container {
  width: 100%;
  margin: 0 auto;
}

.content {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  width: 15%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding-bottom: 2vh;
      list-style: none;
    }
  }
}

.form-container {
  width: 40%;
  margin: 0 auto;
  a {
    color: $light;
    &:hover {
      color: $dark;
    }
  }
  .link-color {
    a {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}

.mini-text {
  font-size: .75em;
}

.mid-text {
  font-size: 1.5em;
}

.hard-text {
  font-size: 16px;
  line-height: 1em;
}

.two-column {
  margin: 0 auto;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.four-column-course {
  margin: 0 auto;
  width: 23%;
  display: inline-block;
  vertical-align: top;
}

.four-column {
  margin: 0 auto;
  width: 23%;
  display: inline-block;
  vertical-align: top;
}

.seventy-column {
  margin: 0 auto;
  width: 73%;
  display: inline-block;
  vertical-align: top;
}

.margin-top-huge {
  margin-top: 50vh;
}

.margin-top {
  margin-top: 2vh;
}

.margin-bottom {
  margin-bottom: 2vh;
}

.padding-vertical-mini {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.padding-vertical {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.padding-top {
  padding-top: 2vh;
}

.padding-bottom {
  padding-bottom: 2vh;
}

.padding-horizontal {
  padding-right: 2vh;
  padding-left: 2vh;
}

.padding-right {
  padding-right: 2vh;
}

.padding-left {
  padding-left: 2vh;
}

.thumbnail-image-feed-five {
  height: 13vw;
  width: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: $radius - 1;
  border-top-right-radius: $radius - 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  &:hover {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    opacity: .75;
  }
}

.baby-thumbnail-image {
  height: 28px;
  width: 28px;
  object-fit: cover;
  vertical-align: top;
  display: inline-block;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

/* ****************** TABS AND BUTTONS **************** */

.active-tab {
  @include transition;
  box-sizing: border-box;
  background: $main;
  color: $white;
  padding: 2vh 0;
  border-radius: $radius;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 400;
  box-shadow: $shadow;
}

.inactive-tab {
  @include transition;
  box-sizing: border-box;
  background: transparent;
  color: $black;
  padding: 2vh 0;
  border-radius: $radius;
  text-transform: uppercase;
  font-size: .75em;
  &:hover {
    background: $grey;
  }
}

.active-removal-tab {
  @include transition;
  box-sizing: border-box;
  background: $red;
  color: $white;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 400;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid $red;
  -webkit-font-smoothing: unset;
  box-shadow: $shadow;
}

.inactive-removal-tab {
  box-sizing: border-box;
  @include transition;
  background: transparent;
  color: $black;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 300;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid transparent;
  -webkit-font-smoothing: unset;
  &:hover {
    background: $grey;
    border: 1px solid $grey;
  }
}

.active-paid-tab {
  @include transition;
  box-sizing: border-box;
  background: $main;
  color: $white;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 400;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid $main;
  -webkit-font-smoothing: unset;
  box-shadow: $shadow;
}

.inactive-paid-tab {
  box-sizing: border-box;
  @include transition;
  background: transparent;
  color: $black;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 300;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid transparent;
  -webkit-font-smoothing: unset;
  &:hover {
    background: $grey;
    border: 1px solid $grey;
  }
}

.active-sidebar-tab {
  @include transition;
  border-left: 3px solid $main;
  padding-left: 2vw;
  cursor: pointer;
}

.inactive-sidebar-tab {
  @include transition;
  border-left: 3px solid transparent;
  padding-left: 2vw;
  cursor: pointer;
  &:hover {
    border-left: 3px solid $border;
  }
}

@mixin buttons {
  @include transition;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 400;
  cursor: pointer;
  border-radius: $radius;
  box-sizing: border-box;
  font-family: $fancy;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: $white;
  padding: 1vh 1vw;
  background: $main;
  border: 1px solid $main;
  color: $white;
  -webkit-font-smoothing: unset;
  &:hover {
    box-shadow: $shadow;
  }
}

.submit-button {
  @include buttons;
}

.removal-button {
  @include buttons;
  background: $red;
  border: 1px solid $red;
}

.delete-button {
  @include buttons;
  padding: .51vh .51vw;
  background: $red;
  border: 1px solid $red;
}

.fake-button {
  @include buttons;
  padding: .51vh .51vw;
}

.image-button {
  @include buttons;
  padding: .51vh .51vw;
}

/* ****************** FORMS ****************** */

textarea:focus, input:focus {
  outline: none;
}

label {
  @include textLabels;
  -webkit-font-smoothing: antialiased;
}

.text-label {
  @include textLabels;
}

@mixin fields {
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  border-radius: $radius;
  font-family: $fancy;
  letter-spacing: .5px;
}

.StripeElement {
  @include fields;
  padding: 1vh 1vw;
  background: $grey;
  display: block;
}

.search-field {
  @include fields;
  padding: .5vh 1vw;
  font-size: .75em;
  border: none;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1);
  &::placeholder {
    color: $white;
  }
}

select {
  @include fields;
  text-indent: 1vw;
  background: $grey;
  height: 3.75vh;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right $grey;
  -webkit-appearance: none;
  background-position-x: 98%;
}

.text-field {
  @include fields;
  padding: 1vh 1vw;
  background: $grey;
}

.text-area {
  @include fields;
  min-width: 100%;
  max-width: 100%;
  min-height: 15vh;
  max-height: 30vh;
  height: 15vh;
  padding: 1vh 1vw;
  background: $grey;
  display: block;
}

.field {
  margin: 0 0 2vh 0;
}

.field-two-column {
  margin: 0 auto 2vh auto;
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.field-three-column {
  margin: 0 auto 2vh auto;
  width: 32%;
  display: inline-block;
  vertical-align: top;
}

.padding-field-match {
  padding: .51vh 1vw;
}

/* ***************** NAV ************* */

.side-header {
  position: fixed;
  text-align: center;
  z-index: 1003;
  width: auto;
  height: 100%;
  color: $black;
  a {
    color: $black;
    &:hover {
      color: $main;
    }
  }
  ul {
    padding: 0vh 2vw;
    li {
      padding: 3vh 0;
      list-style: none;
    }
  }
}

.header-container {
  width: 100%;
  margin: 0 auto;
  background: $main;
  box-shadow: $shadow-lite;
  a {
    color: $white;
  }
}

.nav {
  display: flex;
  .site-title {
    display: inline-block;
    width: 24%;
    color: $main;
    font-weight: 300;
    &:hover {
      text-decoration: none;
      color: $light;
    }
  }
  .search-spacer {
    width: 24%;
    display: inline-block;
  }
  ul {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    li {
      width: 24%;
      display: inline-block;
      position: relative;
    }
  }
}

.nav-links {
  @include transition;
  color: $black;
  cursor: pointer;
  padding: 1vh 2vw;
  &:hover {
    color: $main;
  }
}

.full-footer-container {
  width: 100%;
  clear: both;
  margin-top: 5vh;
  padding: 2vh 0;
}

.footer {
  font-size: .75em;
  width: 100%;
  display: inline-block;
  span {
    float: left;
  }
  .nav-links {
    @include transition;
    color: $light;
    padding: 0;
    &:hover {
      @include transition;
      color: $dark;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin: 0 1vw;
      &:first-child {
        margin: 0 1vw 0 0;
      }
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
  color: $light;
}

/* ******************** USERS **************** */

.profile-picture-container {
  margin: 0 auto;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.profile-info-container {
  margin: 0 auto;
  width: 65%;
  display: inline-block;
  vertical-align: top;
}

.thumbnail-image {
  height: 31vh;
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
  display: block;
  -webkit-backface-visibility: hidden;
}

.short-thumbnail-image {
  height: 100%;
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
  display: block;
  -webkit-backface-visibility: hidden;
}

.tall-thumbnail-image {
  height: 50vh;
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
  display: block;
  -webkit-backface-visibility: hidden;
}

.post-content {
  word-break: break-word;
  white-space: pre-line;
  margin-top: -25px;
}

.free-card {
  @include transition;
  width: 100%;
  background: $grey;
  font-size: .75em;
  padding: .51vh 0;
  text-transform: uppercase;
  border-radius: $radius;
  border: 1px solid $grey;
  color: $black;
}

.track-card {
  width: 100%;
  margin-top: 2vh;
  cursor: pointer;
}

.video-card {
  @include transition;
  width: 100%;
  margin-bottom: 2vh;
  cursor: pointer;
  background: $grey;
  font-size: .75em;
  padding: .51vh 0;
  text-transform: uppercase;
  border-radius: $radius;
  color: $black;
  &:hover {
    box-shadow: $shadow;
  }
}

.video-player {
  border: 1px solid $border;
  border-radius: $radius;
}

.ad-trash-text {
  font-size: .75em;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.blackbox {
  background: $black;
  height: 105px;
  color: $white;
}

.review-container {
  display: inline-block;
  ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    li {
      list-style: none;
      display: inline-block;
    }
  }
  .star-five {
   margin: 2px 0;
   position: relative;
   display: inline-block;
   color: $yellow;
   width: 0px;
   height: 0px;
   border-right: 10px solid transparent;
   border-bottom: 7px  solid $yellow;
   border-left: 10px solid transparent;
   -moz-transform: rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform: rotate(35deg);
   -o-transform: rotate(35deg);
  }
  .star-five:before {
     border-bottom: 8px solid $yellow;
     border-left: 3px solid transparent;
     border-right: 3px solid transparent;
     position: absolute;
     height: 0;
     width: 0;
     top: -5.5px;
     left: -6.5px;
     display: block;
     content: '';
     -webkit-transform: rotate(-35deg);
     -moz-transform: rotate(-35deg);
     -ms-transform: rotate(-35deg);
     -o-transform: rotate(-35deg);

  }
  .star-five:after {
     position: absolute;
     display: block;
     color: $yellow;
     top: .3px;
     left: -10.5px;
     width: 0px;
     height: 0px;
     border-right: 10px solid transparent;
     border-bottom: 7px solid $yellow;
     border-left: 10px solid transparent;
     -webkit-transform: rotate(-70deg);
     -moz-transform: rotate(-70deg);
     -ms-transform: rotate(-70deg);
     -o-transform: rotate(-70deg);
     content: '';
  }
  .big-star-five {
   margin: 3px 0;
   position: relative;
   display: inline-block;
   color: $yellow;
   width: 0px;
   height: 0px;
   border-right: 15px solid transparent;
   border-bottom: 10.5px  solid $yellow;
   border-left: 15px solid transparent;
   -moz-transform: rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform: rotate(35deg);
   -o-transform: rotate(35deg);
  }
  .big-star-five:before {
     border-bottom: 12px solid $yellow;
     border-left: 4px solid transparent;
     border-right: 4px solid transparent;
     position: absolute;
     height: 0;
     width: 0;
     top: -8.25px;
     left: -9.75px;
     display: block;
     content: '';
     -webkit-transform: rotate(-35deg);
     -moz-transform: rotate(-35deg);
     -ms-transform: rotate(-35deg);
     -o-transform: rotate(-35deg);

  }
  .big-star-five:after {
     position: absolute;
     display: block;
     color: $yellow;
     top: .45px;
     left: -15.75px;
     width: 0px;
     height: 0px;
     border-right: 15px solid transparent;
     border-bottom: 10.5px solid $yellow;
     border-left: 15px solid transparent;
     -webkit-transform: rotate(-70deg);
     -moz-transform: rotate(-70deg);
     -ms-transform: rotate(-70deg);
     -o-transform: rotate(-70deg);
     content: '';
  }
}

/* ******************* JAVASCRIPT ************** */

@mixin javaScriptForms {
  padding: 0vh 2vw;
  position: absolute;
  top: 2vh;
  left: 26vw;
  min-width: 40%;
  max-width: 40%;
  margin: 0 0% 0 0;
  z-index: 1005;
  display: none;
  .popup-form-inside {
    width: 100%;
    background: $white;
    padding: 2vh 2vw;
    border-radius: $radius;
    box-shadow: $shadow-lite;
    margin-bottom: 2vh;
  }
  a {
    color: $light;
    &:hover {
      color: $dark;
    }
  }
}

#sign-in-form {
  @include javaScriptForms;
}

#register-form {
  @include javaScriptForms;
}

.close {
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: $black;
  text-decoration: none;
  position: relative;
  z-index: 1001;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:before {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    z-index: 1001;
    background: $light;
    position: absolute;
    left: 11px;
    top: 0px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition: .3s;
   -moz-transition: .3s;
   -o-transition: .3s;
  }
  &:after {
    content: "";
    display: block;
    height: 30px;
    width: 2px;
    z-index: 1001;
    background: $light;
    position: absolute;
    left: 11px;
    top: 0px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
  &:hover {
    &:before {
      background: $dark;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
    &:after {
      background: $dark;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
  }
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.80;
  opacity: 0.80;
  z-index: 1002;
  display: none;
}

svg.search {
  @include transition;
  fill: $white;
  width: 12px;
  height: 12px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#search-icon {
  @include transition;
  cursor: pointer;
  padding: 3vh 1vw;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#sign-in {
  @include textLabels;
  @include transition;
  cursor: pointer;
  color: $white;
  padding: 3vh 1vw;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#register {
  @include textLabels;
  @include transition;
  cursor: pointer;
  color: $white;
  padding: 3vh 1vw;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#menu-click {
  @include textLabels;
  @include transition;
  cursor: pointer;
  color: $white;
  padding: 3vh 1vw;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#close-menu {
  @include transition;
  cursor: pointer;
  color: $black;
  &:hover {
    color: $main;
  }
}

#menu-container {
  display: none;
  width: 100%;
  top: 0;
}

#student-sign-in-click {
  cursor: pointer;
}

#instructor-sign-in-click {
  cursor: pointer;
}

#instructor-sign-in-container {
  display: none;
}

#student-register-click {
  cursor: pointer;
}

#instructor-register-click {
  cursor: pointer;
}

#instructor-register-container {
  display: none;
}

#why-instructor {
  display: none;
}

#student-sign-in-click-page {
  cursor: pointer;
}

#instructor-sign-in-click-page {
  cursor: pointer;
}

#instructor-sign-in-container-page {
  display: none;
}

#student-register-click-page {
  cursor: pointer;
}

#instructor-register-click-page {
  cursor: pointer;
}

#instructor-register-container-page {
  display: none;
}

#why-instructor-page {
  display: none;
}

#search-container {
  display: none;
}

#purchase-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

#purchase-form {
  @include javaScriptForms;
  .fake-button {
    color: white;
    &:hover {
      color: $white;
    }
  }
}

#unsubscribe-button-click {
  @include transition;
  color: $red;
  cursor: pointer;
  &:hover {
    color: $dark;
  }
}

#unsubscribe-form {
  @include javaScriptForms;
  .delete-button {
    color: white;
    &:hover {
      color: $white;
    }
  }
}

#profile-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

#profile-form {
  @include javaScriptForms;
}

#post-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

#post-form {
  @include javaScriptForms;
}

#course-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

#course-form {
  @include javaScriptForms;
}

#paid-container {
  display: none;
}

#use-card-container {
  display: none;
}

#use-card-button {
  display: none;
}

#purchase-button {
  display: none;
}

#checkout-container {
  display: none;
}

#track-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

#track-form {
  @include javaScriptForms;
}

.edit-track-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

.edit-track-form {
  @include javaScriptForms;
}

.video-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

.video-form {
  @include javaScriptForms;
}

#video-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

#video-form {
  @include javaScriptForms;
}

#review-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

#review-form {
  @include javaScriptForms;
}

.edit-review-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

.edit-review-form {
  @include javaScriptForms;
}

#comment-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

#comment-form {
  @include javaScriptForms;
}

.edit-comment-button-click {
  @include buttons;
  padding: .51vh .51vw;
}

.edit-comment-form {
  @include javaScriptForms;
}

.video-list {
  display: none;
}

#more-tracks {
  @include transition;
  color: $main;
  cursor: pointer;
  &:hover {
    color: $dark;
  }
}

#second-tab {
  display: none;
}

#third-tab {
  display: none;
}

#fourth-tab {
  display: none;
}

#fifth-tab {
  display: none;
}

#sixth-tab {
  display: none;
}

#seventh-tab {
  display: none;
}

/* ******************** MeDIA QUERIES **************** */

@media screen and (max-width: 1024px) {

  .body-container {
    padding-top: 0;
  }

  .content {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    ul {
      padding-bottom: 2vh;
      li {
        padding-right: 2vw;
        padding-bottom: 0;
        padding-top: 2vh;
        display: inline-block;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .active-sidebar-tab {
    border-left: 0px;
    border-bottom: 3px solid $main;
    padding-left: 0;
    padding-bottom: 2vw;
  }

  .inactive-sidebar-tab {
    border-left: 0px;
    border-bottom: 3px solid transparent;
    padding-left: 0;
    padding-bottom: 2vw;
    &:hover {
      border-left: 0px;
      border-bottom: 3px solid $border;
    }
  }

  @mixin mobile-nav {
    float: none;
    text-align: center;
  }

  .nav {
    display: block;
    .site-title {
      display: block;
      width: 100%;
      text-align: center;
      padding-bottom: 1vh;
    }
    .search-spacer {
      width: 100%;
      display: block;
      padding-bottom: 1vh;
    }
    ul {
      width: 100%;
      display: block;
      li {
        width: 31%;
        &:first-child {
          display: none;
        }
      }
    }
  }

  .footer {
    text-align: center;
    span {
      @include mobile-nav;
    }
    ul {
      @include mobile-nav;
    }
  }

  .mid-container {
    width: 83%;
    margin: 0 auto;
  }

  .form-container {
    width: 60%;
    margin: 0 auto;
  }

  .thumbnail-image {
    height: 22vh;
  }

  .thumbnail-image-feed-five {
    height: 18vh;
  }

  .four-column-course {
    width: 48%;
  }

  @mixin javaScriptForms {
    min-width: 60%;
    max-width: 60%;
    left: 16vw;
    .popup-form-inside {
      width: 100%;
    }
  }

  #sign-in-form {
    @include javaScriptForms;
  }

  #register-form {
    @include javaScriptForms;
  }

  #profile-form {
    @include javaScriptForms;
  }

  #post-form {
    @include javaScriptForms;
  }

  #course-form {
    @include javaScriptForms;
  }

  #track-form {
    @include javaScriptForms;
  }

  #video-form {
    @include javaScriptForms;
  }

  #purchase-form {
    @include javaScriptForms;
  }

  .edit-track-form {
    @include javaScriptForms;
  }

  .video-form {
    @include javaScriptForms;
  }

  #search-icon {
    padding: 1vh 1vw;
  }

  #search-container {
    display: block;
  }

  #sign-in {
    padding: 1vh 1vw;
  }

  #register {
    padding: 1vh 1vw;
  }

  #menu-click {
    padding: 1vh 1vw;
  }

  .no-mobile {
    display: none;
  }

  .mobile-only {
    display: block;
  }

}

@media screen and (max-width: 650px) {

  .body-container {
    width: 100%;
  }

  .two-column {
    width: 100%;
  }

  .four-column {
    width: 100%;
    padding-bottom: 2vh;
  }

  .four-column-course {
    width: 100%;
  }

  .seventy-column {
    width: 100%;
  }

  .mid-container {
    width: 100%;
    margin: 0 auto;
  }

  .form-container {
    width: 90%;
    margin: 0 auto;
  }

  .profile-picture-container {
    width: 100%;
  }

  .thumbnail-image {
    padding-bottom: 2vh;
  }

  .thumbnail-image-feed-five {
    height: 22vh;
  }

  .short-thumbnail-image {
    padding-bottom: 2vh;
  }

  .profile-info-container {
    width: 100%;
  }

  @mixin javaScriptForms {
    min-width: 92%;
    max-width: 92%;
    left: 0;
    .popup-form-inside {
      width: 100%;
    }
  }

  #student-sign-in-click {
    margin-bottom: 2vh;
  }

  #student-register-click {
    margin-bottom: 2vh;
  }

  #student-sign-in-click-page {
    margin-bottom: 2vh;
  }

  #student-register-click-page {
    margin-bottom: 2vh;
  }

  #sign-in-form {
    @include javaScriptForms;
  }

  #register-form {
    @include javaScriptForms;
  }

  #profile-form {
    @include javaScriptForms;
  }

  #post-form {
    @include javaScriptForms;
  }

  #course-form {
    @include javaScriptForms;
  }

  #track-form {
    @include javaScriptForms;
  }

  #video-form {
    @include javaScriptForms;
  }

  #purchase-form {
    @include javaScriptForms;
  }

  .edit-track-form {
    @include javaScriptForms;
  }

  .video-form {
    @include javaScriptForms;
  }

}



