<div class="wrapper">
  <div class="container">
    <div class="mid-container padding-vertical">

      <div class="padding-bottom mid-text border-bottom">
        <%= @student.username %><span class="hard-text"> | 18 Courses | 3 Subscriptions | 5 Reviews</span>
      </div>

    </div>
  </div>
</div>

<%= @student.profile.created_at %>