<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 1.75em;
        letter-spacing: .5px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        background: #FAFAFA;
        color: #0C1F14;
      }
      a {
        color: #47B975;
        text-decoration: none;
      }
      a:hover {
        color: #C8A223;
      }
      .image-image {
        height: 20vw;
        width: 100%;
        object-fit: cover;
        display: block;
        border-top-left-radius: $radius - 1;
        border-top-right-radius: $radius - 1;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .center {
        text-align: center;
      }
      .border {
        border: 1px solid #BEC8CE;
        border-radius: 4px;
      }
      .mid-container {
        width: 40%;
        margin: 0 auto;
      }
      .border-top {
        border-top: 1px solid #BEC8CE;
      }
      .border-bottom {
        border-bottom: 1px solid #BEC8CE;
      }
      .padding-vertical {
        padding-top: 2vh;
        padding-bottom: 2vh;
      }
      .padding-top {
        padding-top: 2vh;
      }
      .padding-horizontal {
        padding-right: 2vh;
        padding-left: 2vh;
      }
      .mini-text {
        font-size: .75em;
      }
      .margin-top {
        margin-top: 10vh;
      }
      @media (max-width: 800px) {
        .mid-container {
          width: 90%;
        }  
      }
    </style>
  </head>

  <body>
    <%= yield %>

    <div class="mid-container padding-top border-top mini-text center margin-top">
      <div><%= link_to "Unsubscribe", sign_in_url %></div>
      <div>Ninth Valley. 769 Columbus Pkwy, Buffalo, NY 14213</div>
    </div>
  </body>
</html>
