<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 1.75em;
        letter-spacing: .5px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        background: #FAFAFA;
        color: #0C1F14;
      }
      a {
        color: #47B975;
        text-decoration: none;
      }
      a:hover {
        color: #C8A223;
      }
      img {
        border-radius: 4px;
        display: block;
      }
      .center {
        text-align: center;
      }
      .border {
        border: 1px solid #BEC8CE;
        border-radius: 4px;
      }
      .mid-container {
        width: 73%;
        margin: 0 auto;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
